@{
    ViewData["Title"] = "Dashboard";
}
<div id="dashboard">
    <div class="container">
            <div class="top">
                <img src="/images/closet.jpg" alt="Closet" height="300px">
            </div>

        <div class="middle">
            @{
                foreach(var product in @ViewBag.RecentProducts){
                    <div class="innerMiddle">
                    <img src="@product.Image" alt="">
                    <p>@product.Name</p>
                    </div>
                }
            }

        </div>
        <div class="bottom">
            <h4>Recent Orders</h4>
            @{
                foreach(var order in @ViewBag.RecentOrders){
                    <p>@order.User.FirstName added @order.Quantity @order.Product.Name</p>
                }
            }

            <h4>New Customers</h4>
            @{
                foreach(var customer in @ViewBag.RecentCustomers){
                    <p>@customer.FirstName @customer.LastName created their account</p>
                }
            }
            <a href="/customers">Show all customers</a>
        </div>
    </div>
</div>
