@{
    ViewData["Title"] = "Dashboard";
}
<div id="dashboard">
    <div class="container">
        <div>
            <h1>BIG IMAGE GOING HERE</h1>
        </div>
        <div class="middle">

        </div>
        <div class="bottom">
            <h4>Recent Orders</h4>
            @{
                foreach(var order in @ViewBag.RecentOrders){
                    <p>@order.User.FirstName added @order.Quantity @order.Product.Name ... (@order.CreatedAt)</p>
                }
            }
            <a href="/orders">Show all Orders</a>

            <h4>New Customers</h4>
            @{
                foreach(var customer in @ViewBag.RecentCustomers){
                    <p>@customer.FirstName @customer.LastName created their account (@customer.CreatedAt - @ViewBag.Today)</p>
                }
            }
            <a href="/customers">Show all customers</a>
        </div>
    </div>
</div>